@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-page="/C2F">Convert from Celsius to Fahrenheit</a></p>
    <p><a asp-page="/F2C">Convert from Fahrenheit to Celsius</a></p>
</div>
